body {
    background-color: #95a5a6;
}

h1 {
    color: #c0392b;
}

p {
	font-size: 14px;
}

.myheader{
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
    font-size: 24px;
}

.myphoto{
   width: 800px;
	 height: 600px;
	 float: right;
}

.expertise{
   float: left;
   padding: 0px 45px;
}

#myfooter {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px; 
}