/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers. COMMENTED OUT */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

/*Commenting out the removal of bullets so they reappear in column2
ol, ul {
  list-style: none;
}*/
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* END RESET STYLES*/
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}


.contentbox {
  /*I tried changing the width and padding to the container, but it
  didn't change the layout how I wanted, so I deleted it.*/

}


.container {
  width: 900px; /*Made width of the container the same width as the images*/ 
  padding: 80px 80px; /* top/bottom and left/right */
  font-family: Lato;
}

#column1 {
  float: left;
  width: 100%; /*IMPORTANT THIS WAS HOW MADE CONTAINER the FULL WIDTH*/
}

#column2 {
  font-size:100%; 
  font:inherit;
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  float: right;
  /*Why do I need margin and width in BOTH HTML and CSS for column2 but not column1?*/
  width: 30%;
  padding:5px 15px 5px 5px;
}

article {
  float: left;
  width: 56%; /*IMPORTANT TO USE PERCENTMade 56% of the container*/ 
  padding: 20px 80px; /* top/bottom and left/right */
  font-family: Lato;
}

#column1 img { /*IMPORTANT call out the IMAGE WIDTH to be 100 percent of container*/
  width: 100%;
}

h1 a {
    font-family: 'Lato', Helvetica, Arial, sans-serif;
    font-size: 80px;
    font-weight: 300;
    color: red;
    text-decoration: none;
    float: left;
}


h2 {
    font-family: 'Lato', Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #c7c9c9;
    text-decoration: none;
    padding: 20px 10px; 
}


#betterdressed {
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  float: right;
  font-size: 30px;
  color: #c7c9c9;
}

h2 a {
    font-family: 'Lato', Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #c7c9c9;
}

h3 {
    font-family: 'Lato', Helvetica, Arial, sans-serif;
    font-size: 50px;
    font-weight: 400;
    color: #c7c9c9;
    text-decoration: none;
    padding: 50px 10px 10px 0px; /* top/bottom and left/right */
}

h4 a {
    color: red;
    float: right;
}

h5 {
    font-family: 'Lato', Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: #c7c9c9;
    padding: 0px 10px 10px 0px; 
}

.border {
  padding: 20px 10px; /* top/bottom and left/right */
  background-color: #FFF;
  border-bottom: 1px solid black;
  border-color: #c7c9c9;
  overflow: hidden;/*clearfix*/
}

/*Changed CSS so only the p in the article class have Large 1st Letter. Right Column Does Not.*/
 .article p:first-letter {
  float:left; 
  font-size:5em; 
  line-height:1; 
  margin-right:5px;
  color: #c7c9c9;
}

.navigation{
  float:left;
}

/*Top Black Bar Nav*/
.navigation li {
  display: inline-block;
  background-color:black;
  color:white;
  clear:both;
  text-align:center;
  padding: 23px 40px; 
}

.navigation a {
  color: #c7c9c9;
  font-size: 1em;
}
img {
  width: 100%;
}

/*Bottom Nav Red Text*/
.bottomnavigation a {
  color: red;
  font-size: 1em;
}

.bottomnavigation li {
  display: inline-block;
  margin: 20px 10px; /* top/bottom and left/right */
}


/*Sidebar Navigation*/
.sidenavigation li {
  color: red;
  margin: 0px 0px 0px 17px;
}

.kittenad {
  padding: 20px 10px;
}

#myfooter {
    font-size: 2em;
    color:#c7c9c9;   
    padding: 10px 180px 20px 180px; /* top/bottom and left/right */
    clear: both;
}
