/*Why doesn't this remove default block padding?*/
body {
  margin: 0px; 
  padding: 0px; 
}

h1 a {
    font-family: 'Lato', Helvetica, Arial, sans-serif;
    font-size: 80px;
    font-weight: 300;
    color: red;
    text-decoration: none;
}

h2 {
    font-family: 'Lato', Helvetica, Arial, sans-serif;
    font-size: 50px;
    font-weight: 400;
    color: black;
    text-decoration: none;
}

h2 a {
    font-family: 'Lato', Helvetica, Arial, sans-serif;
    font-size: 50px;
    font-weight: 400;
    color: black;
    text-decoration: none;
}

h3 {
    font-family: 'Lato', Helvetica, Arial, sans-serif;
    font-size: 50px;
    font-weight: 400;
    color: #c7c9c9;
    text-decoration: none;
}

h4 a {
    color: red;
    float: right;
}

/*Trying to make a break line with CSS. Not working. From: http://stackoverflow.com/questions/10933837/line-break-like-br-using-only-css*/
/*Tried placing a div around the h4s. No idea what to do next*/
div h4 a:after {
    content:"\a";
    white-space: pre;
}

p:first-letter {
  float:left; 
  font-size:5em; 
  line-height:1; 
  margin-right:5px;
  color: #c7c9c9;
}

.container {
  width: 1024px;
  margin: 0 auto;
  position: relative;  
  padding: 20px; 
  font-family: Lato;
}

.navigation li {
  display: inline-block;
  margin: 0 0.5em;
}

.navigation a {
  color: #c7c9c9;
  font-size: 1.8em;
  margin: 0;
}

.nav {
  float: left;
}

#myfooter {
    color:#c7c9c9;
    text-align:center;
    padding:5px; 
}
